.input-wrapper {
  position: relative;
  display: block;
  margin: 0px auto;
  width: 262px;
  height: 26px;
  overflow: visible;
  border-radius: 3px;
}
.input-wrapper input {
  width: 100%;
}
.input-wrapper .edit {
  position: absolute;
  right: 1px;
  top: 1px;
  height: 24px;
  width: 50px;
  color: #1e88e5;
  line-height: 26px;
  background: #fff;
  font-size: 13px;
  font-family: 'gibsonsemibold';
  cursor: pointer;
}
