/*$yellow = #ffd528
$dark = #2b303d
$blue = #1e88e5
*/

.airport-info {
	padding-bottom: 10px		
}

.airport {
	position: relative;
	box-sizing: border-box;
	padding: 20px 20px;
}

.change { 
	vertical-align: top;
	margin-left: 10px;
}
	
.airports {
	width: 263px;
	top: 26px;
	max-height: 84px;
}

.by {
	position: relative;
	width: 110px;
	float: right;
	margin: 0px 20px 10px 0px;
}

.cheapflights {
	cursor: pointer !important
}

input[type="text"] {
	width: 140px;
	height: 26px;
	background: #FFF;
	border: 1px solid #FFF;
	color: #2b303d;
	font-size: 13px;
	outline: none;
	padding: 0px 5px;
	border-radius: 3px;
	box-sizing: border-box;
}

input[type="text"].full {
	width: 100%;
	height: 34px;
	font-size: 15px;
}

input[type="text"]:focus {
		border: 1px solid #1e88e5;
}


.dark {
	font-size: 1em;
	padding: 0;
	padding-top: .5rem;
	padding-bottom: .625rem;
	background-color: #28303d;
	color: #fff;
	box-shadow: 0 .1875rem rgba(50,50,50,0.15)
}

.dark :hover {
		box-shadow: 0 .125rem rgba(50,50,50,0.15)
}
.dark :active {
		box-shadow: 0 0 rgba(50,50,50,0.15)
}

.airports {
	position: absolute;
	width: 100%;
	padding: 0px;
	margin: 0px;
	border: 1px solid #e9eaeb;
	background: #FFF;
	border-radius: 3px;
	list-style: none;
	text-align: left;
	overflow: hidden;
	z-index: 2;
	display: none;
}


.airports li { 
		position: relative;
		width: auto;
		border-bottom: 1px solid #e9eaeb;
		color: 2b303d;
		font-size: 13px;
		padding: 7px 7px;
		box-sizing: border-box;
		overflow: hidden;
		cursor: pointer;
}

.airports li .row {
    width: 1000% !important;
    overflow: hidden;
    text-align: left;
}

.container .row {
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.airports :hover {
	background: #f2f2f5;
}



.airports span {
	color: #1e88e5;
}

.input-wrapper {
		position: relative;
		display: block;
		margin: 0px auto;
		width: 262px;
		height: 26px;
		overflow: visible;
		background: #FFF;
		border-radius: 3px;
}

.input-wrapper	input {
	width: 100%;
}

.input-wrapper	.edit { 
	position: absolute;
	right: 1px;
	top: 1px;
	height: 24px;
	width: 50px;
	color: #1e88e5;
	line-height: 26px;
	background: #FFF;
	font-size: 13px;
    font-family: 'Gibson-SemiBold'; 
	cursor: pointer;
}			

/*
.checkbox {
	position: relative;
	float: left ;
	width: 25px;
	height: 25px;
	background: #FFF;
	border-radius: 5px;
	//font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	text-align: center;
	line-height: 25px;
	color: #2b303d;
	cursor: pointer;
	margin-right: 10px;
	box-sizing: border-box;
}

.checkbox.checked:before {
	content: '\e803'
}
*/

.checkbox-label {
	position: relative;
	height: 25px ;
	line-height: 25px; 
	font-size: 13px	;
	float: left	;
}

a {
	color: #1e88e5;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #1e88e5;
}

a:visited {
	color: #1e88e5;
}		

.bottom5 {
	margin-bottom: 5px !important;
}

.bottom10  {
	margin-bottom: 10px !important;
}

.bottom15  {
	margin-bottom: 15px !important;
}

.bottom20  {
	margin-bottom: 25px	!important;
}

.bottom25 {
	margin-bottom: 30px	!important;		
}

.bottom30 {
	margin-bottom: 30px	!important;	
}

.show {
	display: block !important;
}

.hide {
	display: none !important;
}