@font-face {
          font-family: Gibson-Regular;
          src: url(../fonts/Gibson-Regular.otf);
        }

@font-face {
    font-family: Gibson-SemiBold;
    src: url(../fonts/Gibson-SemiBold.otf);
}