div {
  font-size: 0;
}


a {
  font-size: 16px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 5px;
  width: calc(50% - 4px);
  margin-right: 8px;
}

a:nth-of-type(2n) {
  margin-right: 0;
}


@media screen and (min-width: 20em) {
  a {
    width: calc(25% - 6px);
  }
  
  a:nth-of-type(2n) {
    margin-right: 8px;
  }
  
  a:nth-of-type(4n) {
    margin-right: 0;
  }
}

a:hover img {
  transform: scale(1.15);
}

figure {
  margin: 0;
}


img {
  border: none;
  max-width: 100%;
  height: auto; 
  display: block;
 /* background: #ccc; */
  transition: transform .2s ease-in-out;
}


.p a {
  display: inline;
  font-size: 13px;
  margin: 0;
}
.p {
  text-align: center;
  font-size: 13px;
  padding-top: 100px;
}