@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

.app {
  /* Disable text selection, or your app will feel like a web page */
  -webkit-user-select: none;
  -webkit-app-region: drag;

  /* Cover the whole window */
  height: 100%;

  /* Make sure this matches the native window background color that you pass to
   * electron.BrowserWindow({...}), otherwise your app startup will look janky. */
  background-color:rgba(210,210,210,0.8);
  background: rgb(210,210,210);

  /* Smoother startup */
  animation: fadein 0.5s;
  transition-duration: 0.2s;
  animation-duration: 12s;
}

body {
          background-color: rgba(210,210,210,0.8);
          border-radius:13px;
        }