@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?30365140');
  src: url('../font/fontello.eot?30365140#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?30365140') format('woff2'),
       url('../font/fontello.woff?30365140') format('woff'),
       url('../font/fontello.ttf?30365140') format('truetype'),
       url('../font/fontello.svg?30365140#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?30365140#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-search:before { content: '\e800'; } /* '' */
.icon-windy-rain-inv:before { content: '\e801'; } /* '' */
.icon-snow-inv:before { content: '\e802'; } /* '' */
.icon-snow-heavy-inv:before { content: '\e803'; } /* '' */
.icon-hail-inv:before { content: '\e804'; } /* '' */
.icon-clouds-inv:before { content: '\e805'; } /* '' */
.icon-clouds-flash-inv:before { content: '\e806'; } /* '' */
.icon-temperature:before { content: '\e807'; } /* '' */
.icon-compass:before { content: '\e808'; } /* '' */
.icon-na:before { content: '\e809'; } /* '' */
.icon-celcius:before { content: '\e80a'; } /* '' */
.icon-fahrenheit:before { content: '\e80b'; } /* '' */
.icon-clouds-flash-alt:before { content: '\e80c'; } /* '' */
.icon-sun-inv:before { content: '\e80d'; } /* '' */
.icon-moon-inv:before { content: '\e80e'; } /* '' */
.icon-cloud-sun-inv:before { content: '\e80f'; } /* '' */
.icon-cloud-moon-inv:before { content: '\e810'; } /* '' */
.icon-cloud-inv:before { content: '\e811'; } /* '' */
.icon-cloud-flash-inv:before { content: '\e812'; } /* '' */
.icon-drizzle-inv:before { content: '\e813'; } /* '' */
.icon-rain-inv:before { content: '\e814'; } /* '' */
.icon-windy:before { content: '\e815'; } /* '' */
.icon-rain:before { content: '\e816'; } /* '' */
.icon-drizzle:before { content: '\e817'; } /* '' */
.icon-cloud-flash-alt:before { content: '\e818'; } /* '' */
.icon-cloud-flash:before { content: '\e819'; } /* '' */
.icon-cloud:before { content: '\e81a'; } /* '' */
.icon-fog:before { content: '\e81b'; } /* '' */
.icon-fog-cloud:before { content: '\e81c'; } /* '' */
.icon-fog-moon:before { content: '\e81d'; } /* '' */
.icon-fog-sun:before { content: '\e81e'; } /* '' */
.icon-cloud-moon:before { content: '\e81f'; } /* '' */
.icon-cloud-sun:before { content: '\e820'; } /* '' */
.icon-snowflake:before { content: '\e821'; } /* '' */
.icon-wind:before { content: '\e822'; } /* '' */
.icon-mist:before { content: '\e823'; } /* '' */
.icon-eclipse:before { content: '\e824'; } /* '' */
.icon-moon:before { content: '\e825'; } /* '' */
.icon-sun:before { content: '\e826'; } /* '' */
.icon-sunrise:before { content: '\e827'; } /* '' */
.icon-windy-inv:before { content: '\e828'; } /* '' */
.icon-windy-rain:before { content: '\e829'; } /* '' */
.icon-snow:before { content: '\e82a'; } /* '' */
.icon-snow-alt:before { content: '\e82b'; } /* '' */
.icon-snow-heavy:before { content: '\e82c'; } /* '' */
.icon-hail:before { content: '\e82d'; } /* '' */
.icon-clouds:before { content: '\e82e'; } /* '' */
.icon-clouds-flash:before { content: '\e82f'; } /* '' */
.icon-location:before { content: '\e830'; } /* '' */
.icon-location-circled:before { content: '\e831'; } /* '' */
.icon-camera:before { content: '\e832'; } /* '' */
.icon-flight:before { content: '\e833'; } /* '' */
.icon-clock:before { content: '\e834'; } /* '' */
.icon-clock-1:before { content: '\e835'; } /* '' */
.icon-clock-2:before { content: '\e836'; } /* '' */
.icon-clock-3:before { content: '\e837'; } /* '' */
.icon-clock-4:before { content: '\e838'; } /* '' */
.icon-clock-5:before { content: '\e839'; } /* '' */
.icon-clock-circled:before { content: '\e83a'; } /* '' */
.icon-heart:before { content: '\e83b'; } /* '' */
.icon-heart-empty:before { content: '\e83c'; } /* '' */
.icon-heart-1:before { content: '\e83d'; } /* '' */
.icon-heart-empty-1:before { content: '\e83e'; } /* '' */
.icon-heart-2:before { content: '\e83f'; } /* '' */
.icon-heart-filled:before { content: '\e840'; } /* '' */
.icon-heart-3:before { content: '\e841'; } /* '' */
.icon-heart-empty-2:before { content: '\e842'; } /* '' */
.icon-heart-4:before { content: '\e843'; } /* '' */
.icon-heart-5:before { content: '\e844'; } /* '' */
.icon-heart-6:before { content: '\e845'; } /* '' */
.icon-heart-empty-3:before { content: '\e846'; } /* '' */
.icon-flight-1:before { content: '\e847'; } /* '' */
.icon-flight-2:before { content: '\e848'; } /* '' */
.icon-heartbeat:before { content: '\f21e'; } /* '' */